*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*padding: 133px 30px; */
  justify-content: center;      /* Горизонтальное выравнивание */
  align-items: center;          /* Вертикальное выравнивание */
 }
.content {
  display: flex; 
  flex-direction: row;    /* Располагаем элементы в строку (по умолчанию) */
  align-items: flex-end;  /* Прижимаем элементы к нижней границе */
  width: 1140px; /* Задать ширину .content и отступы между его элементами. */
  gap: 30px;
}
  .search-form {
    display: flex;                /* 1. Включаем Flexbox */
    flex-direction: row;          /* 2. Элементы в строку (по умолчанию) */
    justify-content: space-between; /* 3. Распределяем свободное пространство между элементами */
    align-items: flex-start;      /* 4. Прижимаем к верхней части (вертикальная ось) */ 
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px; /*Расположите чекбоксы в линию с помощью обёртки .search-form__checkbox-list. Используйте display: flex; и gap.*/
} 
.search-form__fieldset {
  border: none; /* Сбросьте border у fieldset. */
   /*  outline: none; /* Часто нужно убрать и синюю обводку при клике */
   
} 
.search-form__fieldset-title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: normal;
  text-align: left;
  margin-bottom: 5px;
  
  }
.search-form__label {/*обёртки для поискового инпута и чекбоксов*/
  display: flex;/*Расположите содержимое .search-form__label в строку с помощью сетки флекс.*/
  align-items: center; /*Центрируйте содержимое внутри .search-form__label по вертикальной оси, используя свойство align-items.*/
  width: fit-content;
  gap: 5px;
} 
.search-form__textfield {/*текстовое поле ввода*/
  width: 225px;
  font-style: normal;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.2;
  font-style: normal;
  text-align: left;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: #fff;
  appearance: none; /* Так в разных браузерах будут нужные вам стили.*/
} 
.search-form__textfield::placeholder {/*подсказка в текстовое поле ввода*/
color: rgb(255 255 255 / 0.7);
} 
.search-form__textfiel:focus {/*подсказка в текстовое поле ввода в фокусе*/
outline: none;
} 
.search-form__label:has(:focus-visible)  {/*лейбл вокруг текстовое поле ввода в фокусе*/
outline: solid 1px  #fff;
} 
.search-form__pseudo-checkbox  {/*псевдочекбокс*/
width: 19px;
height: 19px;
border: 1px solid rgb(255, 255, 255);
 background-color: transparent;
 padding: 1px;/*внутренний отступ*/
} 
.search-form__pseudo-checkbox::after  {/*псевдочекбокс в нажатии*/
content: ""; /*без него псевдоэлемент отображаться не будет.*/
 display: block; /* Делаем элемент блочным */
  background-color: #ffffff; /* Устанавливаем белый цвет фона */
  width: 100%;
  height: 100%;
  opacity: 0; /* скрыть закрашенный элемент — сделайте его полностью прозрачным */
} 
.search-form__checkbox:checked::after {/*псевдочекбокс в нажатии*/
   opacity: 1;
} 
.search-form__label:hover .search-form__label-text {
  text-decoration: underline; /* Подчёркивание при наведении */
}
/*.search-form__pseudo-checkbox:has(:focus-visible)  Когда чекбокс в фокусе — добавьте границу вокруг с использованием outline{
outline: solid 1px  #10de4a;
} */
  .content__details {
   display: flex; 
   max-width: 399px;
   max-height: 534px;
   gap: 26px;
   flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
}
.content__list-container {
    /*display: flex; */
    width: 399px;
    overflow: auto; /* Добавляет прокрутку, если контент не помещается */
    /* gap: 30px;*/
}

.result__video-container {
   width: 711px;
   height: 386px;
   margin-bottom: 16px; /* добавьте внешний отступ снизу*/
}
.result__video {
  width: 100%;
    height: 100%;
  object-fit: cover;
}
.content__list {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px; /*Создайте отступы между элементами .content__list-item. Используйте свойство gap  для .content__list.*/
}
.content__list-container {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px; /*Создайте отступы между кнопкой Показать ещё и последней карточкой .content__list-item. Используйте свойство gap для .content__list-container.*/
}
.content__video-card {
    display: flex;
    flex-direction: row; /* Внутри контейнера .content__video-card расположите элементы  в одну строку и прижмите их к верху контейнера. */
    flex-wrap: nowrap;
    align-items: start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
 object-fit: fill;
  object-position: center; /*Задайте высоту и минимальную ширину для изображения .content__video-card-thumbnail. Используйте object-fit и object-position. */
}
.content__video-card-description-container {
  width: 100%;
  box-sizing: border-box;/* Важно: чтобы padding не увеличил ширину */ /*Сделайте так, чтобы .content__video-card-description-container занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow. */
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 800;
  line-height: 0.95; 
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: left;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  color: #fff;
  text-decoration: none
}
.content__video-card-title {
 text-transform: uppercase;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.95; 
  width: 186px;                /* Обязательно задайте ширину */
  white-space: nowrap;        /* Запрещает перенос строк */
  overflow: hidden;           /* Скрывает текст, выходящий за границы */
  text-overflow: ellipsis;
}
.content__video-card-description {
 text-align: left;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.95; 
  margin-top: 6px;
  width: 186px;                /* Обязательно задайте ширину */
  white-space: nowrap;        /* Запрещает перенос строк */
  overflow: hidden;           /* Скрывает текст, выходящий за границы */
  text-overflow: ellipsis;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
