*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  block-size: 100%;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  /*padding: 133px 30px; */
  justify-content: center;      /* Горизонтальное выравнивание */
  align-items: center;          /* Вертикальное выравнивание */
 }
.content {
  display: flex;
  flex-direction: row;/* Располагаем элементы в строку (по умолчанию) */
  align-content: center;
  align-items: flex-end;/* Прижимаем элементы к нижней границе */
  width: 1140px; /* Задать ширину .content и отступы между его элементами. */
  gap: 30px;
}
/*-----------------*/
.result__video-container {
   width: 711px;
   height: 386px;
   margin-bottom: 16px; /* добавьте внешний отступ снизу*/
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*-----------------*/
  .search-form {
  display: flex;
  justify-content: space-between;
}
.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 5px;
}
.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-form__label {
  width: fit-content;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}
.search-form__label:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.search-form__label:has(:focus) {
  outline: none;
}
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__textfield {
  inline-size: 225px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  position: relative;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  position: absolute;
  margin: 1px;
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}
.search-form__submit-button {
  align-self: end;
  inline-size: 194px;
  block-size: 34px;
}
.content__details {
   display: flex;
   max-width: 399px;
   max-height: 534px;
   gap: 26px;
   flex-direction: column;
	 /*flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;*/
}
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 800;
  line-height: 0.95;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list-container {
    /*display: flex; */
    width: 399px;
    overflow: auto; /* Добавляет прокрутку, если контент не помещается */
    /* gap: 30px;*/
}
.content__list {
    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 30px; /*Создайте отступы между элементами .content__list-item. Используйте свойство gap  для .content__list.*/
}
.content__list-item {
  box-sizing: border-box;
  width: 390px;
  height: 103px;
  padding-right: 3px;
  padding-left: 3px;
}
.content__list-item:active {
  background-color:#545050;
  }
.content__card-link:active {
  background: #545050;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}
.content__card-link,
.content__video-card {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
 }
 .content__video-card {
    display: flex;
    flex-direction: row; /* Внутри контейнера .content__video-card расположите элементы  в одну строку и прижмите их к верху контейнера. */
    flex-wrap: nowrap;
    align-items: start;
}
.content__video-card-thumbnail {
  min-width: 194px;
  height: 103px;
 object-fit: fill;
  object-position: center; /*Задайте высоту и минимальную ширину для изображения .content__video-card-thumbnail. Используйте object-fit и object-position. */
}
.content__video-card-description-container {
  width: 100%;
  box-sizing: border-box;/* Важно: чтобы padding не увеличил ширину */ /*Сделайте так, чтобы .content__video-card-description-container занимал всё доступное пространство (не занятое картинкой). Вам поможет свойство flex-grow. */
}
.content__card-link {
  color: #fff;
  text-decoration: none
}
.content__video-card-title {
 text-transform: uppercase;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.95;
  width: 186px;/* Обязательно задайте ширину */
  white-space: nowrap;/* Запрещает перенос строк */
  overflow: hidden;/* Скрывает текст, выходящий за границы */
  text-overflow: ellipsis;
}
.content__video-card-description {
 text-align: left;
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.95;
  margin-top: 6px;
  width: 186px;/* Обязательно задайте ширину */
  white-space: nowrap;/* Запрещает перенос строк */
  overflow: hidden;/* Скрывает текст, выходящий за границы */
  text-overflow: ellipsis;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1.2;
  cursor: pointer;/* на кликабельные элементы */
} 
.more-button {
   Width: 100%;
  Height: 34px; /* не работает? */
}
.button:hover {
  text-decoration: underline;
  }
  .button:active {
    background-color:#545050;
  }
  .button:focus {
  outline: none;
}
  .button:focus-visible {
  outline: 1px solid white;
}
.result__video-container .content__list-container {
  position: relative;
}